.App {
  text-align: center;
  /* background-image: url('./images/helpdesk.jpg'); */
}

.Menu {
  margin: 0 auto;
  width: 80%;
  background-color: white;
}

.DeleteButton {
  color: #a0001e;
  font-size: 2rem;
  transition-duration: 0.3s;
  text-align: end;
}

.DeleteButton:hover {
  cursor: pointer;
  color: black;
  justify-self: flex-start;
}

.TicketCard {
  width: 70%;
  margin: 0 auto;
}

.ticketForm {
  width: auto;
  font-size: 2rem;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 1rem;
}

.ticketForm input, textarea {
  font-size: 1.4rem;
  padding: 1rem;
  margin: 15px;
}

.ticketForm textarea {
  width: 60%;
}